<h1>Listing Particles</h1>

<%= link_to 'Add new', new_particle_path %>
<br></br>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @particles.each do |particle| %>
    <tr>
      <td><%= particle.name %></td>
      <td><%= particle.spin %></td>
            <td><%= particle.color %></td>

      <td><%= link_to 'Show', particle_path(particle) %></td>
    </tr>
  <% end %>
</table>
